<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{foods.food}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    FOOD
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="get">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="foodname" placeholder="search for product">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit" >
                                    search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% if foods %}
    <p><strong>{{ foods.food }}</strong>
        <br>
 <br><strong>Measure: </strong>{{foods.measure}}</p>
    <br><strong>Grams: </strong>{{foods.grams}}</p>
    <br><strong>Calories: </strong>{{foods.calories}}</p>
    <br><strong>Proteins: </strong>{{foods.protein}}</p>
    <br><strong>Fat: </strong>{{foods.fat}}</p>
    <br><strong>Fiber: </strong>{{foods.fiber}}</p>
    <br><strong>Carbohydrates: </strong>{{foods.carbs}}</p>
    <br><strong>Categories: </strong>{{foods.category}}</p>
{% endif %}